<form method="post" action="/posts">
  <label for="name">Post Name: </label><br>
  <input id="name" type="text" name="name"><br>
  <label for="content">Post Content: </label><br>
  <input id="content" type="text" name="content"><br>
</form>
